/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-nov-2015, 13:50:41
    Author     : David
*/


header{
    margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0.5em;
   font-family: Arial;
   font-size: 24px;
   color: cadetblue;
}
nav{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    background-color: darkgrey;
     border-radius:10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#CCC));
    background-image: -moz-linear-gradient(top center, #FFF, #CCC);
    background-image: linear-gradient(top, #FFF, #CCC);
    overflow:hidden;
    padding:10px;
   // width:950px;
    width: 100vh;
}
nav ul{
    list-style:none;
    margin:0 10px 0 10px;
    padding:0;
}
nav ul li{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    float:left;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    margin-right:10px;
    text-align:center;
    text-shadow: 0px 1px 0px #FFF;
}

nav ul li:hover{ //Idea sacada de internet
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to( #E3E3E3));
    background-image: -moz-linear-gradient(top center, #FFF, #E3E3E3);
    background-image: linear-gradient(top, #FFF, #E3E3E3);
    -webkit-box-shadow:  1px -1px 0px #999;
    -moz-box-shadow:  1px -1px 0px #999;
    box-shadow:  1px -1px 0px #999;
    border:1px solid #E3E3E3;
}

.section {
    height: 100vh;
}

 aside {
     position: absolute;
     right:0px;
     margin: 0px auto;
     padding: 10px;
     top: 0px;
    }
    aside h4{
        font-size: 10px;
    }   
#logo{
    
    height:200px;
    position: relative;
    right: 0px;
    border:3px solid #73AD21;
    padding: 10px;
    vertical-align: text-top;
}
.footer{
    font-size: 5px;
}
.boton{
   background-color:blue;
   -moz-border-radius:35px; //Para el mozilla
   -webkit-border-radius:35px; //Para el chorme
   border-radius:35px;
   border:3px solid cornflowerblue;
   display:inline-block;
   cursor:pointer;
   color:#ffffff;
   font-family:Arial;
   font-size:11px;
   padding:7px 31px;
   text-decoration:none;
   text-shadow:-2px 2px 2px cadetblue; 
}

.boton:hover{
    background-color: darkturquoise;
}

.texto{
    position: relative;
    top: 1px;
}

.texto:correcto{
    background-color: greenyellow;
}

.texto:error{
    background-color: crimson;
}


element.style {
    position: relative;
    min-height: 100%;
    
    top: 0px;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #E3E3E3;
}
input:text{
    alignment-adjust: central;
}
form{
    margin: 0.5em;
 position: relative;
  top: 50%;
  alignment-adjust: central; 
  text-align: right;
  display: inline-block; 
  //transform: translateX(25%);  
}